body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    width: 886px;
}
.top{
    display: flex;
    background-color: #000000;
    height: 33px;
    justify-content: flex-end;
}
.sony_logo{
    color: #000000;
    width: 75px;
    height: 36px;
}
.sony_logo img{
    width: 100%;
    height: auto;
}
.first_menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    font-size: 13px;
}
.left_menu li:hover .dropdown li{
    top: 0;
    display: block;
}
.left_menu{
    display: flex
}
.ps_bluelogo{
    height: 21px;
    width: 27px;
    margin-left: 12px;
    margin-right: 12px;
}
.ps_bluelogo img{
    width: 100%;
    height: 100%;
}
nav ul, nav a{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav .active a{
    padding: 23px;
    color: #008cff;
    border-bottom: 4px solid #008cff;
}
nav a{
    /*display: block;*/
    padding: 12px;
    color: grey;
}
nav a:hover{
    color: #008cff;
}
.nav_espec ul {
    position: relative;
}
.nav_espec ul ul{
    position: absolute;
    top: 55px;
    visibility: hidden;
}
.nav_espec ul li ul:hover{
    visibility: visible;
    background-color: red;
}
.material-icons.md-18 { 
    font-size: 18px;
}

.second_menu{
    height: 64px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.second_menu a{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.menu_central{
    margin-left: 170px;
    justify-content: flex-end;
}

.ps5_logo{
    width: 200px;
    height: 48px;
}
.ps5_logo img{
    margin-left: 22px;
    height: 100%;
}
.right_menu{
    display: flex;
}
.right_menu i{
    margin-left: 28px;
    margin-right: 14px;
}
.right_menu button{
    border-radius: 15px;
    border: none;
    background-color: #202020;
    height: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.right_menu button:hover{
    box-shadow: 0 0 0 3px #d4d3d3; /* box shadow circular, 0 nas duas primeiras significa que a shadow é centrada na formato do */
}
.sessao a{
    color: #ffffff;
    padding: 8px;
}
.sessao a:hover{
    color: #ffffff;
}
.first_section{
    display: flex;
    justify-content: center;
    background-image: url(../images/banner/ps5banner.png);
    background-position: center;
    background-size: cover;
    height: 760px;
}
.banner_logo{
    width: 114px;
    height: 29px;
}
.banner_logo img{
    width: 100%;
    height: auto;
}
.banner_sep, .banner_inv{
    flex: 1;
}
.banner_sep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_title{
    display: flex;
    flex-direction: column;
}
.banner_title form {
    display: flex;
    justify-content: center;
}
form button{
    background-color: #ffffff;
    color: #000000;
    border-radius: 25px;
    border: none;
    height: 40px;
    width: 143px;
    margin: 0;
    padding: 0px;
    font-weight: bold;
    font-size: 15px;
}
form button:hover{
    box-shadow: 0 0 0 3px #ffffff;
}
.banner_title h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.second_section{
    display: flex;
    justify-content: center;
    height: 1004px;
    background-color: #dbd8d8;
    padding: 54px;
}
.sec2_principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sec2_head, .sec2_head2{
    font-size: 40px;
    font-weight: normal;
}
.sec2_video{
    margin-top: 77px; 
}
.video{
    display: flex;
    justify-content: center;
    width: 100%;
}
.video_area{
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%;
}
.video_area2{
    position: relative;
    height: 0px;
    padding: 0px 0px 37%;
}
.video-area iframe{
    position: absolute; /* é posicionado relativo ao ancestral mais proximo, elemento pai. se n tiver nenhum, puxa do body */
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
.flexColumn{
    flex-direction: column;
}
.videos{
    padding: 0;
    display: flex;
}
.other_videos{
    margin-left: 25px;
    margin-top: 43px;
}
.sec2_footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    width: 582px;
    height: 136px;;
}
.final_text, .warning{
    line-height: 25px;
}
.warning{
    margin-top: 70px;
}
.third_section{
    margin-top: 55px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    height: 933px;
}
.sec3_banner{
    width: 885px;
    height: 423px;
}
.sec3_banner img{
    margin-top: 55px;
    width: 100%;
    height: auto;
}
.sec3_head, .sec3_text{
    text-align: center;
}
.sec3_head{
    margin-top: 70px;
    font-size: 30px;
}
.sec3_text{
    margin-top: 40px;
    font-size: 20px;
    line-height: 25px;
    font-weight: lighter;
    color: #979696;
}
.sec3_details{
    display: flex;
    margin-top: 90px;
    line-height: 25px;
}
.ssd, .es{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 304px;
    width: 431px;
    text-align: center;
}
.ssd img, .es img{
    width: 129px;
    height: 129px;
}
.fourth_section{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)),url(../images/secao3/horizonbanner.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 1103px;
}
.fourth_section img{
    opacity: 0.5;
}
.sec4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 886px;
}
.infos_end{
    display: flex;
    flex-direction: column;
    width: 886px;
}
.sec4_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 134px;
    width: 582px;
    margin-top: 55px;
    margin-bottom: 70px;
}
.sec4_title{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 55px;
}
.sec4_desc{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}
.sec4_img {
    width: 100px;
    height: 99px;
}
.sec4_img img{
    width: 100%;
    height: auto;
}
.sec4_infos{
    margin-bottom: 64px;
    display: flex;
    justify-content: flex-end;
}
.sec4_text{
    height: 110px;
    width: 580px;
    text-align: justify;
    margin-left: 24px;
}
.sec4_title2{
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 24px;
}
.sec4_desc2{
    font-size: 17px;
    color: #ffffff;
}
.fifth_section{
    display: flex;
    justify-content: center;
    margin-top: 51px;
    margin-bottom: 70px;
}
.sec5{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec5_head{
    display: flex;
    justify-content: center;
    width: 582px;
    height: 96px;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    color: #000000;
}
.edicoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 255px;
    margin-top: 77px;
    font-size: 15px;
}
.edicao{
    display: flex;
    height: 100%;
    border-bottom: 4px solid #979696;
}
.edicao div a{
    text-decoration: none;
}
.edicoes .actives{
    height: 100%;
    border-bottom: 4px solid #008cff;
}
.fisica{
    margin-right: 19px;
}
.fisica a{
    color: #000000;
}
.digital a, .digital a:visited{
    color: #444343;
}   
.digital a:hover{
    color: rgb(134, 134, 134);
}
.sec4_desc{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.fisico_infos, .fisico_image{
    flex: 1;
}
.fisico_infos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 636px;
    color: #000000;
    line-height: 20px;
    text-align: start;
}
.fisico_image{
    display: flex;
    align-items: center;
}
.fisico_image img{
    width: auto;
    height: 444px;
}
.infos_head{
    font-size: 28px;
    margin-bottom: 30px;
}
.sub_head{
    font-size: 21px;
    margin-bottom: 30px;
}
.infos_desc{
    font-size: 16px;
    margin-bottom: 30px;
}
.navegue{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 41px;
    width: 193px;
    background-color: red;
    border: none;
    border-radius: 20px;
    transition: all 0.1s linear;
}
.navegue:hover{
    box-shadow:
      0 0 0 3px hsl(0, 0%, 100%),
      0 0 0 5px hsl(0, 89%, 43%);
}
.navegue a{
    margin: 0;
    padding: 0px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.sixth_section{
    display: flex;
    justify-content: center;
    background-color: #dad7d7;
}
.sec6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.sec6_headline{
    font-size: 30px;
    margin-bottom: 40px;
}
.games{
    margin-top: 60px;
    display: flex;
    margin-bottom: 10px;
}
.game1, .game2{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 24px;
}
.game1 img, .game2 img{
    width: 100%;
    height: auto;
}
.game_title{
    margin-top: 24px;
    margin-bottom: 27px;
    font-size: 25px;
}
.game_desc{
    line-height: 25px;
}
.saibamais{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203ff3;
    width: 124px;
    height: 40px;
    margin-top: 12px;
    border-radius: 25px;
    transition: all 0.1s linear;
}
.saibamais a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.saibamais:hover{
    box-shadow:
      0 0 0 2px hsl(0, 4%, 85%),
      0 0 0 4px hsl(231, 90%, 54%);
}
.maisjogos{
    margin-top: 60px;
    height: 40px;
    width: 194px;
    background-color: #c0bdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-weight: bold; 
    margin-bottom: 70px;
}
.maisjogos a{
    text-decoration: none;
    color: #203ff3;
}
.maisjogos:hover{
    box-shadow:
      0 0 0 2px #dad7d7,
      0 0 0 4px #c0bdbd;
}
.marvel_footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flexStart{
    justify-content: flex-start;
}
.marvel{
    display: flex;
    flex-direction: column;
}
.marvel img{
    height: 81px;
    width: 200px;
}
.marvel_copy{
    display: flex;
    justify-content: flex-start;
    height: 62px;
    width: 276px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 14px;
}
.marvel_desc{
    line-height: 23px;
    margin-bottom: 22px;
    font-size: 14px;
}
.marvel_desc a{
    color: #008cff;
}
footer{
    display: flex;
    justify-content: center;
    padding: 70px;
    background-color: #00439c;
}
footer ul, footer ul a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}
.spaceBetween{
    justify-content: space-between;
}
.left_footer{
    display: flex;
    flex-direction: column;
}
.country{
    display: flex;
    color: #ffffff;
    font-size: 14px;
}
.globe{
    height: 19px;
    width: 19px;
    margin-right: 12px;
}
.globe img{
    height: auto;
    width: 100%;
}
.right_footer{
    width: 450px;
    display: flex;
    font-size: 14px;
}
.right_footer li{
    margin-bottom: 7px;
}
.sony_f_logo{
    height: 96px;
    width: 96px;
    margin-bottom: 12px;
}
.sony_f_logo img{
    height: auto;
    width: 100%;
}
.f_up{
    display: flex;
    justify-content: space-between;
}
.sie_footer{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    margin-top: 12px;
}
.sie_logo{
    width: 129px;
    height: 48px;
    margin-bottom: 35px;
}
.sie_footer img{
    height: auto;
    width: 100%;
}

@media (max-width: 1024px){
    .flexColumnReverse{
        flex-direction: column-reverse; 
    }
    .menu_central nav{
        position: relative;
        flex-direction: column;
    }
    nav .dropdown-content li:first-child{
        color: #000000;
        border-bottom: none;
    }
    .dropdown-content{
        display: none;
        
        background-color: #f9f9f9;
        top: 140px;
    }
    .dropdown-content :not(.dropdown-content li:first-child){
        display: block;
    }
   
}
@media(max-width:950px){
    .videos{
        flex-wrap: wrap;
    }
}
@media (max-width:740px){
    .right_menu li:first-child{
        display: none;
    }
    .right_menu i{
        display: none;
    }
}